<div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Personas</h2>
      </div>
    </div>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col" class="text-center">First</th>
          <th scope="col" class="text-center">Last</th>
          <th scope="col" class="text-center">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of persons;let i=index" >
            <td class="text-center">{{i}}</td>
            <td class="text-center">{{person.first}}</td>
            <td class="text-center">{{person.last}}</td>
            <td class="text-center">{{person.email}}</td>
        </tr>
      </tbody>
    </table>
  
    <div class="row no-gutters">
        <h2>Add new person</h2>
          <form [formGroup]="personForm" (ngSubmit)="onSubmit()" class=" card card-lg" novalidate>
            <div class="card-body">
              <div class="row">
                <div class="form-group col-md-4">
                    <label for="first">First : </label>
                    <input type="text" class="form-control" formControlName="first" name="first" placeholder="First" [ngClass]="{ 'is-invalid': bSubmitted && fp.first.errors }">
                    <div class="invalid-feedback" *ngIf="bSubmitted && fp.first.errors">
                        <span *ngIf="fp.first.errors.required">Please insert your first.</span>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="last">Last : </label>
                    <input type="text" class="form-control" formControlName="last" name="last" placeholder="last" [ngClass]="{ 'is-invalid': bSubmitted && fp.last.errors }">
                    <div class="invalid-feedback" *ngIf="bSubmitted && fp.last.errors">
                      <span *ngIf="fp.last.errors.required">Please insert your last.</span>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="email">Email : </label>
                    <input type="text" class="form-control" formControlName="email" name="email" placeholder="email" [ngClass]="{ 'is-invalid': bSubmitted && fp.email.errors }">
                    <div class="invalid-feedback" *ngIf="bSubmitted && fp.email.errors">
                      <span *ngIf="fp.email.errors.required">Please insert your email.</span>
                      <span *ngIf="fp.email.errors.email">Please insert a valid email.</span>
                    </div>
                </div>
              
             </div>
            </div>
              <div class="form-group justify-content-center mb-3 pb-2">
                <input type="submit" value="Enviar" class="btn btn-lg btn-primary" />
              </div>
            </form>
        
      </div>
  </div>
